<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classroom</title>
  </head>
  <body>
    <h1>Welcome to Home.html</h1>

    <ul>
      <li>
        <a href="{% url 'classroom:thank_you' %}"> Thank You Link</a>
      </li>

      <li>
        <a href="{% url 'classroom:contact' %}"> Contacct</a>
      </li>

      <li>
        <a href="{% url 'classroom:teacher' %}"> Teacher Form</a>
      </li>

      <li>
        <a href="{% url 'classroom:teacher_list' %}"> Teacher List</a>
      </li>
    </ul>
  </body>
</html>
